<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guangyou.rareanimal_backstage.mapper.AnimalMapper">
    <parameterMap id="animalBasicInfo" type="com.guangyou.rareanimal_backstage.pojo.dto.AnimalBasicInfoDto">
        <parameter property="animalName"/>
        <parameter property="animalAlias"/>
        <parameter property="animalImgUrl"/>
        <parameter property="animalSpecificType"/>
        <parameter property="distributionArea"/>
        <parameter property="protectGrade"/>
    </parameterMap>

    <sql id="animal-complete-field">
        t_animal.animal_id, animal_name, alias, animal_img,
        is_vertebrates, is_suckle, is_birds, is_creep, is_fish, is_amphibian,
        animal_classification, distribution_area, protect_grade, animal_label
    </sql>
    <sql id="addAnimal-basicInfo">
        (animal_id,animal_name,alias,animal_img,animal_classification,distribution_area,protect_grade)
    </sql>

<!--updateAnimalById(Integer animalId, Integer isVertebrates, Integer isCreep,
                    Integer isFish, Integer isBirds, Integer isSuckle, Integer isAmphibian);-->
    <update id="updateAnimalById">
        update t_animal
        set is_vertebrates = #{isVertebrates}, is_amphibian = #{isAmphibian}, is_birds = #{isBirds},
            is_creep = #{isCreep}, is_fish = #{isFish}, is_suckle = #{isSuckle}
        where animal_id = #{animalId}
    </update>


    <delete id="deleteByAnimalId">
        DELETE FROM t_animal
        WHERE animal_id = #{animaId}
    </delete>

    <!--    int addAnimalBasicInfo(AnimalBasicInfoVo animalBasicInfo);-->
    <insert id="addAnimalBasicInfo" parameterMap="animalBasicInfo">
        insert into t_animal <include refid="addAnimal-basicInfo"></include>
        values(null,?,?,?,?,?,?)
    </insert>

<!--    Animal selectAnimalByName(String animalName);-->
    <select id="selectAnimalByName" resultType="com.guangyou.rareanimal_backstage.pojo.entity.Animal">
        select animal_id, animal_name
        from t_animal
        where animal_name = #{animalName}
    </select>

<!--    List<Animal> selectAnimalByPage(Integer initialDataLocation, Integer pageSize);-->
    <select id="selectAnimalByPage" resultType="com.guangyou.rareanimal_backstage.pojo.entity.Animal">
        select *
        from t_animal
        limit #{initialDataLocation},#{pageSize}
    </select>

<!--    List<Animal> selectAnimalByLikeName(String animalLike);-->
    <select id="selectAnimalByLikeName" resultType="com.guangyou.rareanimal_backstage.pojo.entity.Animal">
        select
        <include refid="animal-complete-field"></include>
        from t_animal,t_animal_introduce,t_animal_label
        where t_animal.animal_id = t_animal_introduce.animal_id
        and t_animal.animal_id = t_animal_label.animal_id
        and (animal_name like #{animalName} or animal_label like #{animalName})
    </select>

</mapper>