<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guangyou.rareanimal_backstage.mapper.ArticleMapper">

<!--    List<Article> getArticlesByCategory(Long categoryId, Integer initialDataLocation, Integer pageSize);-->
    <select id="getArticlesByCategory" resultType="com.guangyou.rareanimal_backstage.pojo.entity.Article">
        select *
        FROM t_article
        WHERE category_id = #{categoryId}
        and is_delete = 0
        and audit_state = '待审核'
        LIMIT #{initialDataLocation},#{pageSize}
    </select>

<!--    List<Long> getArticleIdByLike(String articleLike);-->
    <select id="getArticleIdByLike" resultType="java.lang.Long">
        select id
        from t_article
        where title like #{articleLike}
    </select>

    <!--    int deleteArticleByAid(Long articleId)-->
    <update id="deleteArticleByAid">
        update t_article
        set is_delete = 1
        where category_id = #{categoryId}
    </update>


</mapper>